<h1 class="display-2 mx-auto text-center">Create Client</h1>

<form  class="mx-auto mt-5 border rounded" style="width: 60%;">
    <div class="form-group m-2 mx-auto" style="width: 90%;">
      <label for="valueInput1">Insert Value:</label>
      <input type="text" name="typeInput" class="form-control" id="valueInput1" aria-describedby="valueHelp" placeholder="Enter value" [(ngModel)]="model.clientNameValue">

    </div>
  <div class="form-group m-2 mx-auto" style="width: 90%;">
    <label for="valueInput1">Insert Value:</label>
    <input type="text" name="typeInput" class="form-control" id="valueInput2" aria-describedby="valueHelp" placeholder="Enter value" [(ngModel)]="model.nifValue">

  </div>
  <div class="form-group m-2 mx-auto" style="width: 90%;">
    <label for="valueInput1">Insert Value:</label>
    <input type="text" name="typeInput" class="form-control" id="valueInput3" aria-describedby="valueHelp" placeholder="Enter value" [(ngModel)]="model.clientAddressValue">

  </div>
  <div class="form-group m-2 mx-auto" style="width: 90%;">
    <label for="valueInput1">Insert Value:</label>
    <input type="text" name="typeInput" class="form-control" id="valueInput4" aria-describedby="valueHelp" placeholder="Enter value" [(ngModel)]="model.phoneNumberValue">

  </div>

  <div class="d-flex p-2 mr-5 mb-3 mt-2 flex-row-reverse" >
  <button type="submit" class="btn btn-primary" >Submit Client</button>
  </div>

</form>
