<div class="d-flex flex-row-reverse justify-content-center align-items-center border rounded mx-auto mt-5" style="width: 30%">
  <div id="home_box" class="p-2  rounded" style="width: 500px; height: 500px;">

    <div class="d-flex flex-row-reverse justify-content-center align-items-lg-around" style="height: 400px;" >
      <div class="gy-5 p-4  rounded" >
        <h1><strong>Client Manager Demo</strong></h1>
        <div class="d-flex flex-row-reverse justify-content-center align-items-lg-around" style="height: 300px;" >
          <div class="gy-5 p-4  rounded" >

            <p> Thank you for reviewing this application to the Multicert development software challenge.</p>
            <p> In order to create clients, please select the "Create Client" option in the section of the navigation bar.</p>
            <p> To view or delete clients, select the type of data display in the appropriate section of "List Clients". "Search Clients" allows one to look for clients based on the NIF or name of the client, and "All Clients" displays all clients. Both allow the deletion of a client through a button.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
