<form class="d-flex m-md-5  align-items-center " style="width: 80%;">
    <div class="form-row w-50 p-3 align-items-center border rounded">
<div class="col-no-padding ">
  <div class="form-check ">
    <input class="form-check-input" type="radio" name="nifRadio" id="nifRadio" value="nifRadio" checked>
    <label class="form-check-label" for="nifRadio">
      NIF
    </label>
  </div>
  <div class="form-check ">
    <input class="form-check-input" type="radio" name="nameRadio" id="nameRadio" value="nameRadio">
    <label class="form-check-label" for="nameRadio">
      Client Name
    </label>
  </div>
</div>
      <div class="col-md-8">
        <label for="valueInput1">Insert Value:</label>
        <input type="text" class="form-control" id="valueInput1" aria-describedby="valueHelp" placeholder="Enter value">
        <small id="emailHelp" class="form-text text-muted">There is only exact search</small>
      </div>

  <div class="col-no-padding">
  <button type="submit" class="btn btn-primary">Search</button>
  </div>
    </div>
</form>
